{% extends "layout.html" %}
{% block content %}
<body>
    <h1><center>veterinaria de pelos</center></h1>
<header>
   
    <img src="/static/img/chat.jpg" width="200px">
</header>

<nav>
    <ul>
        <li><a href="/index">Inicio</a></li>
        <li><a href="/dinosaurios">dinosaurios</a></li>
        <li><a href="/tlacu">tlacuaches</a></li>
        <li><a href="/carac">caracoles</a></li>
        <li><a href="/contacto">contacto</a></li>
    </ul>
</nav>
<section class="main" >
    
    <section class="articles">
            <article>
                <h2><center>especialidades</center> </h2>
                <p><font size="+2">no todos se atreven a cuidar de caracoles por lo que nosotros ofrecemos los mejores 
                    servicios para tu caracolin,de todo tipo de caracoles los puedes traer aqui,a una de nuestras sucursales.</font>
                    
               </p>
 </article>
 </section>
 <aside>
 <img src="/static/img/cars.jpg" width="450px">
 <img src="/static/img/cars3.jpg" width="450px">
<h3> que son los caracoles?</h3>
    <p><font size="+2" >
        nombre común de los moluscos gasterópodos provistos de una concha espiral. Hay caracoles marinos,
         dulceacuícolas y terrestres. Los caracoles se mueven por medio de una serie de contracciones musculares ondulatorias
        <hr>
        animal de cuerpo blando que carece de
         esqueleto, cuyo sistema de locomo- ción es ventral, su respiración, pulmonar, y está protegido por una concha externa.
    </font>
 <br>             
     </p>
                  
    </aside>
    <img src="/static/img/car.gif" width="470px">
</body>

</html>
{% endblock %}