{% extends "layout.html" %}
{% block content %}
<body>
    <h1><center>veterinaria de pelos</center></h1>
<header>
   
    <img src="/static/img/chat.jpg" width="200px">
</header>

<nav>
    <ul>
        <li><a href="/index">Inicio</a></li>
        <li><a href="/dinosaurios">dinosaurios</a></li>
        <li><a href="/tlacu">tlacuaches</a></li>
        <li><a href="/carac">caracoles</a></li>
        <li><a href="/contacto">contacto</a></li>
    </ul>
</nav>
<section class="main" >
    
    <section class="articles">
            <article>
                <h2><center>especialidades</center> </h2>
                <p><font size="+2">nuestros medicos veterinarios,atienden con la mejor
                     calidad a sus dinosaurios,desde cirugias,tratamiento de colmillos y 
                     dietas especializadas.</font>
                    
               </p>
 </article>
 </section>
 <aside>
 <img src="/static/img/trip.jpg" width="470px">
 <img src="/static/img/dinop.jpg" width="400px">
<h3> que son los dinosaurios?</h3>
    <p><font size="+2" >Los dinosaurios son
         reptiles terrestres -animales con espina dorsal,
          cuatro patas y piel impermeable cubierta de escamas.
        <hr>
        los dinosaurios son un tipo de reptiles con características 
        totalmente variadas y muy diferentes
         entre ellos. Mientras algunos dinosaurios son bípedo y caminaban
          a dos patas, con unas patas superiores cortas a modo de garras, otros son cuadrúpedos. 
          Mientras algunos dinosaurios  realmente lentos, enormes y excesivamente pesados,
         otros son, aunque muy grandes, totalmente rápidos e incluso otras especies son además pequeñas y totalmente ligeras
    </font>
 <br>             
     </p>
                  
    </aside>
    <img src="/static/img/dino2.gif" width="470px">
</body>

</html>
{% endblock %}