{% extends "layout.html" %}
{% block content %}
<body>
    <h1><center>veterinaria de pelos</center></h1>
<header>
   
    <img src="/static/img/chat.jpg" width="200px">
</header>

<nav>
    <ul>
        <li><a href="/index">Inicio</a></li>
        <li><a href="/dinosaurios">dinosaurios</a></li>
        <li><a href="/tlacu">tlacuaches</a></li>
        <li><a href="/carac">caracoles</a></li>
        <li><a href="/contacto">contacto</a></li>
    </ul>
</nav>
    
<section class="main" >
    
<section class="articles">
        <article>
            <h2><center>nuestro servicios </center> </h2>
            <br>
            <p><font size="+2">ofrecemos la mejor calidad a nuestros clientes,
               con la tecnologia de alto calibre para tus
               mascotas,calidad que no la encontraras 
               en otros sitios.</font>
           </p>
                
       </article>
        <article>
           <h2><center>servicios</center> </h2>
            <br>
            <p><font size="+2">
                atencion las 24hrs del dia,
                todo para mascotas,
                medicina, 
                juguetes,
                ropa,
                nos especializamos en el tratamiento y cuidado 
                de dinosaurios,tlacuaches y caracoles.
            </font>
                <img src="/static/img/pug.gif" width="200px">
            </p>
        
        </article>
</section>  
</section> 
<aside>
    <img src="/static/img/corg.gif" width="200px">
    <h3> Avisos:</h3>
    <p> <font size="+2">recuerde anticipar su consulta
        con dos dias de anticipacion
        <hr>
        los dias de fiesta no trabajamos (solo con casos de urgencia).
        </font>
       
       
    </p>
      
</aside>
    
  
<footer>
    <p>nuestro contacto:-555-555-555 </p>
</footer>
  
</body>
</html>
{% endblock %}