{% extends "layout.html" %}
{% block content %}
<body>
    <h1><center>veterinaria de pelos</center></h1>
<header>
   
    <img src="/static/img/chat.jpg" width="200px">
</header>

<nav>
    <ul>
        <li><a href="/index">Inicio</a></li>
        <li><a href="/dinosaurios">dinosaurios</a></li>
        <li><a href="/tlacu">tlacuaches</a></li>
        <li><a href="/carac">caracoles</a></li>
        <li><a href="/contacto">caracoles</a></li>
    </ul>
</nav>
<section class="main" >
    
    <section class="articles">
            <article>
                <h2><center>especialidades</center> </h2>
                <p><font size="+2">savemos que tus amigos tlacuaches necesitan amor y 
                    cuidado,por esto devemos atenderlos a toda costa 
                    con nuestro super equipo de trabajos.</font>
                    
               </p>
 </article>
 </section>
 <aside>
 <img src="/static/img/op.jpg" width="470px">
 <img src="/static/img/pipi.jpg" width="510px">
<h3> que son los tlacuaches?</h3>
    <p><font size="+2" >
        mamífero marsupial americano ampliamente distribuido en Norte, Centro y Sudamérica. 
        Es conocido en otras geografías con los nombres de raposa, rabipelado, guazalo o cangrejera, entre otros.
        <hr>
        alimentación omnívora y su vida
         básicamente arborícola. Es un animal relativamente agresivo, de 
         mordida dolorosa y hábitos nocturnos, que no representa ningún peligro grave para el 
         ser humano, y que en algunos lugares ha podido incluso ser domesticado.

    </font>
 <br>             
     </p>
                  
    </aside>
    <img src="/static/img/poss.gif" width="470px">
</body>

</html>
{% endblock %}